ul {
    text-align: center;
}
li {
    text-align: center;
}
p {
    color: whitesmoke;
    text-align: justify;
}
h2 {
    text-align: center;
    color: whitesmoke;
}
H1 {
    text-align: center;
    color: whitesmoke;
}
footer {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    box-shadow: whitesmoke 0px -3px -4px;
}
header {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    box-shadow: whitesmoke 3px 0px 4px;
}
div.steps {}
body {
    background-color: rgb(36, 36, 36);
}
h3 {
    color: whitesmoke;
    text-align: center;
}