body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: #fff;
    max-width: 100%;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
    margin: auto;
}
h1 {
    color: #fff;
    background-color: #333;
    padding: 25px;
    margin: -30px -30px 30px -30px;
    border-radius: 12px 12px 0 0;
    font-weight: 300;
    letter-spacing: 1px;
}
form {
   display: flex;
   flex-direction: column;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
input:focus, select:focus {
    outline: none;
    border-color: #666;
}
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.error {
    color: #ff0000;
    font-size: 0.9em;
    margin-top: 5px;
}
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
    position: absolute;
    justify-content: center;
    display: flex;
}
.rad{
     display: flex;
     justify-content: flex-start;
}
.btng {
    display: inline-block;
    background-color: #333;
    width: 300px;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
.btng:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}
.btnp{
    background-color: #cfcfcf;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
}
.btnp:hover {
    background-color: #999191;
    color: #000000;
    
}
.alert{
    background-color: #fdeb4b;
    text-align: center;
    padding: 3px;
}

#reloj {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
 /* Estilos para la impresión */
@media print {
    body {
        font-size: 12pt;
        line-height: 10px;
        background: none;
        transform: scale(0.6);
        transform-origin: top center;
    }
    .form-container {
        background: none;
        border: none;
        max-width: 80%;
        margin: 0;
    }
    .no-print {
        display: none;
    }
    @page{
        size: letter;
        margin: 0cm;

    }
    input, textarea {
        border: none;
        padding: 20px;
    }
    .btng{
        display: none;
    }
    .btn{
        display: none;
    }
    #relo{
        display:none;
}